{{! Previous/next page links - only displayed on page 2+ }}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header">
		{{#if this.meta_description}}
			<h2 class="post-title"><a href="{{url}}">{{this.meta_title}}</a></h2>
		{{else}}
			<h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
		{{/if}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </header>
    <section class="post-description">
		{{#if this.meta_description}}
			<a class="read-more" href="{{url}}">{{this.meta_description}}</a>
		{{else}}
			<a class="read-more" href="{{url}}">{{excerpt words="50"}}</a>
		{{/if}}
    </section>
        
</article>
{{/foreach}}

