{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> "smallheader"}}

{{! The main content area on the homepage }}
<main class="content" role="main">
{{! Everything inside the #author tags pulls data from the author }}
{{#author}}

<section class="author-profile inner">
	<header class="post-header">
		<img src="{{ asset 'images/markus.jpg' }}">
	</header>

	<h1 class="author-title">{{name}}</h1>
	<h2 class="author-bio">{{bio}}</h2>
	<div class="author-meta">
		{{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
		{{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
		<span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
	</div>
</section>
{{/author}}


</main>
